.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
    margin-top: 2%;
    color: orange;
}

.example-card {
    background-color: black;
    /* width: 70%; */
}


.f-clr {
    color: white;
}


div {
    padding: 1em;
    /* border: 1px solid #b5b5b5; */
    /* border-radius: 10px; */
    width: fit-content;
    transition: 0.5s;
  }
  
  div:hover {
    box-shadow: 0 0 3px black;
    margin-top: -10px;
  }