<h1 class="header">About us</h1>
<div class=" container-fluid  d-flex">
    <div class="row container-fluid">
        <mat-card class="col example-card">
            <mat-card-content>
                <img mat-card-image src="assets/coffee.webp">
            </mat-card-content>

        </mat-card>

        <mat-card class=" col example-card">
            <mat-card-content>

                <h1 class="f-clr">What Makes Our Coffee Special?</h1>
                <p class="f-clr">
                    Coffee is a beverage prepared from roasted coffee beans. Darkly colored, bitter, and slightly
                    acidic,
                    coffee has a stimulating effect on humans,
                    primarily due to its caffeine content. It has the highest sales in the world market for hot drinks.
                </p>

                <p class="f-clr">
                    Though coffee is now a global commodity, it has a long history tied closely
                    to food traditions around the Red Sea. The earliest credible evidence of coffee
                    drinking in the form of the modern beverage appears in modern-day Yemen from the mid-15th
                    century in Sufi shrines, where coffee seeds were first roasted and brewed in a manner similar to
                    current methods. The Yemenis procured the coffee beans from the Ethiopian Highlands and began
                    cultivation. By the 16th century, the drink had reached the rest of the Middle East and North
                    Africa, later spreading to Europe. In the
                    20th century, coffee became a global commodity, creating different coffee cultures around the world.
                </p>


            </mat-card-content>
        </mat-card>

    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62146.28185472434!2d79.06511384286719!3d13.216361453028654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad5c1a6cca26a1%3A0xaaadf018b7f72797!2sChittoor%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1691576268699!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>