<h1 class="header">Contact us</h1>
<div class=" container-fluid  d-flex">
    <div class="row container-fluid">
        <mat-card class="col example-card">
            <mat-card-content>
                <iframe class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62146.281854724!2d79.06511385098025!3d13.216361453029956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad5c1a6cca26a1%3A0xaaadf018b7f72797!2sChittoor%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1685593514799!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </mat-card-content>

        </mat-card>

        <mat-card class=" col example-card">
            <mat-card-content>
                
                <div class="example-container">
                    <mat-form-field>
                      <mat-label>Enter your email</mat-label>
                      <input matInput placeholder="pat@example.com" >
                    </mat-form-field>
                  </div>


                  <div >
                    <mat-form-field>
                      <mat-label>Phone number</mat-label>
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-hint>Include area code</mat-hint>
                    </mat-form-field>
                  </div>
                  
                      
                
            </mat-card-content>
        </mat-card>

    </div>



</div>