.example-card {
    background-color: black;
}

.header {
    display: flex;
    justify-content: center;
} 


.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin-top: 2%;
    color: orange;
}
.example-container{
    color: white;
}

.f-clr {
    color: white;
}