<h1 class="header">Menu</h1>
<div class="container-fluid">
    <div class="row">
        <div class=" index-card col">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="name-clr">
                        CAPPUCCINO
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/CAPPUCCINO.jpg">

                <mat-card-content>
                    <p class="f-clr">
                        Tasty And Healthy
                    </p>
                    <p class="f-clr">
                        $ 15.99
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add To Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col index-card">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="name-clr">
                        Expresso
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/expresso.jpg">

                <mat-card-content>
                    <p class="f-clr">
                        Tasty And Healthy
                    </p>
                    <p class="f-clr">
                        $ 15.99
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add To Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col index-card">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="name-clr">
                        Mocha
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/mocha.jpg">

                <mat-card-content>
                    <p class="f-clr">
                        Tasty And Healthy
                    </p>
                    <p class="f-clr">
                        $ 15.99
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add To Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col index-card">
            <mat-card  class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="name-clr">
                        Chacholate
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/chocholate.jpg">

                <mat-card-content>
                    <p class="f-clr">
                        Tasty And Healthy
                    </p>
                    <p class="f-clr">
                        $ 15.99
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add To Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>



</div>