<div class="container-fluid">
  <div class="circle" id="navbar">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <button class="btn-container" (click)="scroll(home)">
        <ul class="navbar-nav d-flex me-auto align-center">
          <li class="nav-item"></li>
          <a href="/home" class="nav-link" routerLinkActive="active" routerLink="home">Home
          </a>

        </ul>
      </button>

      <button class="btn-container" (click)="scroll(about)">
        <ul class="navbar-nav d-flex me-auto align-center">
          <li class="nav-item"></li>
          <a href="/about" class="nav-link" routerLinkActive="active" routerLink="about">About
          </a>

        </ul>
      </button>
      <button class="btn-container" (click)="scroll(menu)">
        <ul class="navbar-nav d-flex me-auto align-center">
          <li class="nav-item"></li>
          <a href="/menu" class="nav-link" routerLinkActive="active" routerLink="menu">Menu
          </a>

        </ul>
      </button>
      <button class="btn-container" (click)="scroll(contact)">
        <ul class="navbar-nav d-flex me-auto align-center">
          <li class="nav-item"></li>
          <a href="/contact" class="nav-link" routerLinkActive="active" routerLink="contact">Contact
          </a>

        </ul>
      </button>




    </nav>
  </div>
  <!-- <button (click)="scroll(home)">Scroll To Div</button> -->
  <div #home>
    <app-home></app-home>
  </div>
  <div #about>
    <app-about></app-about>
  </div>

  <div class="mt-2" #menu>
    <app-menu></app-menu>
  </div>
  <div #contact>
    <app-contact></app-contact>
  </div>


</div>


<div class="circle " id="navbar">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">

    <button class="btn-container" (click)="scroll(home)">
      <ul class="navbar-nav d-flex me-auto align-center">
        <li class="nav-item"></li>
        <a href="/home" class="nav-link" routerLinkActive="active" routerLink="home">Home
        </a>

      </ul>
    </button>

    <button class="btn-container" (click)="scroll(about)">
      <ul class="navbar-nav d-flex me-auto align-center">
        <li class="nav-item"></li>
        <a href="/about" class="nav-link" routerLinkActive="active" routerLink="about">About
        </a>

      </ul>
    </button>
    <button class="btn-container" (click)="scroll(menu)">
      <ul class="navbar-nav d-flex me-auto align-center">
        <li class="nav-item"></li>
        <a href="/menu" class="nav-link" routerLinkActive="active" routerLink="menu">Menu
        </a>

      </ul>
    </button>
    <button class="btn-container" (click)="scroll(contact)">
      <ul class="navbar-nav d-flex me-auto align-center">
        <li class="nav-item"></li>
        <a href="/contact" class="nav-link" routerLinkActive="active" routerLink="contact">Contact
        </a>

      </ul>
    </button>
    <div class="row">
      <ul class="navbar-nav col d-flex me-auto align-center">
        <i class="bi  bi-facebook"></i>

      </ul>
      <ul class="navbar-nav col d-flex me-auto align-center">
        <i class="bi  bi-whatsapp"></i>

      </ul>
      <ul class="navbar-nav col d-flex me-auto align-center">
        <i class="bi bi-instagram"></i>

      </ul>
      <ul class="navbar-nav col d-flex me-auto align-center">
        <i class="bi bi-twitter"></i>

      </ul>
    </div>
  </nav>
</div>