<div class="container-fluid ">
    <!-- <mat-card  class="img-h container-fluid ">
        <mat-card-content>
            <img class="" mat-card-image src="assets/coffee1.jpg">
        </mat-card-content>
    </mat-card> -->
    <!-- <mat-card class="img-container">
        <mat-card-content class="h-50">
            <img mat-card-image src="assets/coffee15.jpeg">
        </mat-card-content>
    </mat-card> -->
    <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card class="img-container">
                <mat-card-content class="container-fluid w-100 h-100" >
                   <!-- <h1>
                    Fresh In The Morning
                   </h1> -->
                    <div class="container w-100 h-100">
                        <img  class="h-100 w-100" src="assets/coffee1.jpg" alt="Snow">
                        <div class="centered">Enjoy Your Morning</div>    
                        <button class="btn">Learn More</button>
                      </div>
                    
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


</div>

<!-- <button (click)="scroll(home)">Scroll To Div</button>
<div #home>Your target</div> -->